@using BusinessLayer.Helpers;
<div class="col-sm-6 promotor-documents">
    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/es_Invesafe_TerminosyCondiciones.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Términos y condiciones generales</a></p>
    <p class="doc-description">Son las condiciones básicas que acepta el comprador conforme al funcionamiento de la plataforma. Al acceder, el usuario, adquiere una serie de derechos y obligaciones, con objeto de garantizar el adecuado disfrute de los servicios y contenidos que se encuentran en la web y que Invesafe pone a su disposición gratuitamente.</p>
    <div class="grey-separator"></div>
    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/es_Invesafe_TerminosyCondiciones_inversores.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Términos y condiciones para inversores</a></p>
    <p class="doc-description"></p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/es_Manual-del-Inversor.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Manual del inversor</a></p>
    <p class="doc-description">Es un documento donde se incluye información relevante sobre el modelo de negocio de Invesafe, los beneficios, comparativas, tarifas, etc. que recomendamos a todo usuario que lea.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/es_Folleto_informativo_de_tarifas_maximas.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Folleto informativo de tarifas máximas</a></p>
    <p class="doc-description">Si bien no son las tarifas aplicadas, este documento recoge las tarifas máximas que puede aplicar Invesafe. Es un documento legal. Las tarifas se pueden encontrar en los FAQs.</p>
    <div class="grey-separator"></div>
</div>
<div class="col-sm-6 promotor-documents">

    <p class="doc-title"><a href="@CommonHelper.getStoragePath())invesafedocs/es_Invesafe_Reglamento_para_defensa_cliente_entidad.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Reglamento para la defensa del cliente</a></p>
    <p class="doc-description">Es el servicio de Atención al Cliente de Invesafe. Tiene el objeto de atender y resolver las quejas y reclamaciones que puedan presentar tanto los compradores, en relación con la actuación de Invesafe. Aquí tienes los pasos a seguir para poder reclamar cualquier situación que consideres reclamable.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/es_Lemon-Way-TOS-Junio-2015-es.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Términos y condiciones Allpays</a></p>
    <p class="doc-description">Allpays es una entidad de pago argentina, y es donde el dinero de los compradores se está depositando. Por ello hay que abrir a cada comprador una cuenta, aceptando por tanto las condiciones de la misma. Esta cuenta no tiene ningún coste para el comprador.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a ng-click="clickSlideAjax('useconditions')" target="_blank"><i class="fa fa-globe"></i> Condiciones de uso</a></p>
    <p class="doc-description">Contiene las condiciones generales de uso de la plataforma, los derechos y obligaciones de Invesafe y de los usuarios, etc.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a ng-click="clickSlideAjax('privacypolicy')" target="_blank"><i class="fa fa-globe"></i> Política de privacidad</a></p>
    <p class="doc-description">Se explica la privacidad, el tratamiento de datos, gestión de cookies, recomendaciones, etc.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/es_International-Investors.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Q&amp;A Inversores Internacionales</a></p>
    <p class="doc-description"> </p>
    <div class="grey-separator"></div>
</div>