@using BusinessLayer.Helpers;
<div class="col-sm-6 promotor-documents">
    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/en_Invesafe_TerminosyCondiciones.pdf" target="_blank"><i class="fa fa-file-pdf"></i> General Terms and Conditions</a></p>
    <p class="doc-description">These are the basic conditions that the buyer accepts according to the operation of the platform. When accessing, the user acquires a series of rights and obligations, in order to guarantee the adequate enjoyment of the services and contents found on the web and that Invesafe makes available for free.</p>
    <div class="grey-separator"></div>
    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/en_Invesafe_TerminosyCondiciones_inversores.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Terms and conditions for investors</a></p>
    <p class="doc-description"></p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/en_Manual-del-Inversor.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Inverter manual</a></p>
    <p class="doc-description">It is a document that includes relevant information about Invesafe's business model, benefits, comparatives, rates, etc. We recommend every user to read.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/en_Folleto_informativo_de_tarifas_maximas.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Information brochure for maximum rates</a></p>
    <p class="doc-description">Although these are not the rates applied, this document includes the maximum rates that Invesafe may apply. It is a legal document. The rates can be found in the FAQs.</p>
    <div class="grey-separator"></div>
</div>
<div class="col-sm-6 promotor-documents">

    <p class="doc-title"><a href="@CommonHelper.getStoragePath())invesafedocs/en_Invesafe_Reglamento_para_defensa_cliente_entidad.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Regulation for client defense</a></p>
    <p class="doc-description">It is the Invesafe Customer Service. It is intended to address and resolve complaints and claims that may be presented by both buyers, in relation to the performance of Invesafe. Here are the steps to follow in order to claim any situation that you think is reclaimable.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/en_Lemon-Way-TOS-Junio-2015-es.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Allpays terms and conditions</a></p>
    <p class="doc-description">Allpays is an Argentine payment institution, and that is where the buyers' money is being deposited. Therefore, an account must be opened to each buyer, thus accepting the conditions of the same. This account has no cost to the buyer.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a ng-click="clickSlideAjax('useconditions')" target="_blank"><i class="fa fa-globe"></i> Terms of use</a></p>
    <p class="doc-description">It contains the general conditions of use of the platform, the rights and obligations of Invesafe and the users, etc.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a ng-click="clickSlideAjax('privacypolicy')" target="_blank"><i class="fa fa-globe"></i> Privacy Policy</a></p>
    <p class="doc-description">Privacy, data processing, cookie management, recommendations, etc. are explained.</p>
    <div class="grey-separator"></div>

    <p class="doc-title"><a href="@(CommonHelper.getStoragePath())invesafedocs/en_International-Investors.pdf" target="_blank"><i class="fa fa-file-pdf"></i> To International Investors</a></p>
    <p class="doc-description"> </p>
    <div class="grey-separator"></div>
</div>