<div class="container" ng-controller="loginController" ng-init="loadLogin()">
    <div class="row">
        <div class="col-md-6 col-lg-5 login-form mx-auto float-none">

            <form name="frmResetPass" ng-submit="submitResetPass()" novalidate autocomplete="off">
                <span class="hidden-xl-down errorPasswordDiferent">@Resource.Messages.Info.errorPasswordDiferent</span>
                <span class="hidden-xl-down formIncomplete">@Resource.Messages.Warning.formIncomplete</span>
                <!--Form with header-->
                <div class="card">

                    <div class="card-block">

                        <!--Header-->
                        <div class="form-header">
                            <h3><i class="fa fa-user-secret"></i> @Resource.Views.Account.ResetPassword.title</h3>
                        </div>

                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-unlock prefix"></i>
                            <input type="password" class="form-control validate" id="txtPassNew" name="txtPassNew"
                                   ng-model="dataRP.passNew" minlength="5" maxlength="20" required>
                            <label for="txtPassNew" data-error="@String.Format(Resource.Messages.Info.errorNlength,5,20)">@Resource.Views.Account.ResetPassword.lblInputNewPassword</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" class="form-control validate" id="txtPassNewR" name="txtPassNewR"
                                   ng-model="passNewR" minlength="5" maxlength="20" required>
                            <label for="txtPassNewR" data-error="@String.Format(Resource.Messages.Info.errorNlength,5,20)">@Resource.Views.Account.ResetPassword.lblInputRepeatPassword</label>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-info waves-effect waves-light">@Resource.Views.Account.ResetPassword.btnSave <i class="fa fa-save ml-1"></i></button>
                        </div>

                    </div>

                    <!--Footer-->
                    <div class="modal-footer text-center">
                        <div class="options text-center text-md-right mt-1">
                            <p>@Html.Raw(String.Format(Resource.Views.Account.ResetPassword.lnkSignupForgot, "<a class=\"blue-text\" ng-click=\"goToLogin()\">"))</p>
                        </div>
                    </div>

                </div>
                <!--/Form with header-->
            </form>

        </div>
    </div>
</div>