<div class="container-fluid page-change-password" ng-controller="changepasswordController" ng-init="loadChangePassword()">

    <section class="section section-title">
        <h6>@Resource.Views.Dashboard.ChangePassword.title</h6>
        <h2>@Resource.Views.Dashboard.ChangePassword.subTitle</h2>
    </section>

    <div class="col-md-12">

        <form name="frmChangePass" ng-submit="submitChangePass()" novalidate autocomplete="off">
            <span class="hidden-xl-down errorPasswordDiferent">@Resource.Messages.Info.errorPasswordDiferent</span>
            <span class="hidden-xl-down formIncomplete">@Resource.Messages.Warning.formIncomplete</span>
            <!--Header-->
            <div class="text-left mb-1">
                <p>@Resource.Views.Dashboard.ChangePassword.text</p>
            </div>

            <div class="card card-cascade mb-2">
                <!--Naked Form-->
                <div class="card-block">

                    <div class="row">
                        <div class="col-md-6">
                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-unlock-alt prefix"></i>
                                <input type="password" name="fake_password" style="display:none" aria-hidden="true">
                                <input type="password" class="form-control validate" id="txtPassOld" name="txtPassOld"
                                       ng-model="dataCP.passOld" minlength="5" maxlength="20" required>
                                <label for="txtPassOld" data-error="@String.Format(Resource.Messages.Info.errorNlength,5,20)">@Resource.Views.Dashboard.ChangePassword.inpActualPassword</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" class="form-control validate" id="txtPassNew" name="txtPassNew"
                                       ng-model="dataCP.passNew" minlength="5" maxlength="20" required>
                                <label for="txtPassNew" data-error="@String.Format(Resource.Messages.Info.errorNlength,5,20)">@Resource.Views.Dashboard.ChangePassword.inpNewPassword</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" class="form-control validate" id="txtPassNewR" name="txtPassNewR"
                                       ng-model="passNewR" minlength="5" maxlength="20" required>
                                <label for="txtPassNewR" data-error="@String.Format(Resource.Messages.Info.errorNlength,5,20)">@Resource.Views.Dashboard.ChangePassword.inpRepeatPassword</label>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-info waves-effect waves-light">@Resource.Views.Dashboard.ChangePassword.btnSave <i class="fa fa-save ml-1"></i></button>
                    </div>

                </div>
                <!--Naked Form-->
            </div>
        </form>

    </div>
</div>