<div class="container-fluid page-information">

    <section class="section section-title">
        <h6>@Resource.Views.Dashboard.FAQ.title</h6>
        <h2>@Resource.Views.Dashboard.FAQ.subTitle</h2>
    </section>

    <div class="col-md-12">
        <!--Accordion wrapper-->
        <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question1 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer1)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTwo">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question2 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer2)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingThree">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question3 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer3)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFour">
                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question4 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer4)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFive">
                    <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question5 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer5)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingSix">
                    <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question6 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer6)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingSeven">
                    <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question7 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer7)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingEight">
                    <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question8 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer8)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingNine">
                    <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question9 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer9)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTen">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question10 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer10)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingEleven">
                    <a class="collapsed" data-toggle="collapse" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question11 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer11)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTwelve">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        <h5 class="mb-0">
                            @Resource.Views.Dashboard.FAQ.question12 <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve" data-parent="#accordionEx">
                    <div class="card-body">
                        @Html.Raw(Resource.Views.Dashboard.FAQ.answer12)
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            
        </div>
        <!--/.Accordion wrapper-->
    </div>
</div>