<div class="container-fluid page-information">

    <section class="section section-title">
        <h6>@Resource.Views.Dashboard.HowWork.title</h6>
        <h2>@Resource.Views.Dashboard.HowWork.subTitle</h2>
    </section>

    <div class="col-md-12">
        <ul class="stepper stepper-vertical timeline">
            <li>
                <!--Section Title -->
                <div class="guia">
                    <span class="circle info-color z-depth-1-half">1</span>
                </div>

                <!-- Section Description -->
                <div class="step-content z-depth-1 ml-xl-0 p-4">
                    <h4 class="font-weight-bold">@Resource.Views.Dashboard.HowWork.tit1</h4>
                    <p class="mt-1 mb-0">@Html.Raw(Resource.Views.Dashboard.HowWork.txt1)</p>
                </div>
            </li>
            <li class="timeline-inverted">
                <!--Section Title -->
                <div class="guia">
                    <span class="circle info-color z-depth-1-half">2</span>
                </div>

                <!-- Section Description -->
                <div class="step-content z-depth-1 ml-xl-0 p-4">
                    <h4 class="font-weight-bold">@Resource.Views.Dashboard.HowWork.tit2</h4>
                    <p class="mt-1 mb-0">@Html.Raw(Resource.Views.Dashboard.HowWork.txt2)</p>
                </div>
            </li>
            <li>
                <!--Section Title -->
                <div class="guia">
                    <span class="circle info-color z-depth-1-half">3</span>
                </div>

                <!-- Section Description -->
                <div class="step-content z-depth-1 ml-xl-0 p-4">
                    <h4 class="font-weight-bold">@Resource.Views.Dashboard.HowWork.tit3</h4>
                    <p class="mt-1 mb-0">@Html.Raw(Resource.Views.Dashboard.HowWork.txt3)</p>
                </div>
            </li>
            <li class="timeline-inverted">
                <!--Section Title -->
                <div class="guia">
                    <span class="circle info-color z-depth-1-half">4</span>
                </div>

                <!-- Section Description -->
                <div class="step-content z-depth-1 ml-xl-0 p-4">
                    <h4 class="font-weight-bold">@Resource.Views.Dashboard.HowWork.tit4</h4>
                    <p class="mt-1 mb-0">@Html.Raw(Resource.Views.Dashboard.HowWork.txt4)</p>
                </div>
            </li>
            <li>
                <!--Section Title -->
                <div class="guia">
                    <span class="circle info-color z-depth-1-half">5</span>
                </div>

                <!-- Section Description -->
                <div class="step-content z-depth-1 ml-xl-0 p-4">
                    <h4 class="font-weight-bold">@Resource.Views.Dashboard.HowWork.tit5</h4>
                    <p class="mt-1 mb-0">@Html.Raw(Resource.Views.Dashboard.HowWork.txt5)</p>
                </div>
            </li>
        </ul>
    </div>
</div>

